%#erb
% dir_num = %r{\A/(\d+)(?:\z|/)}.match(req.path)[1].to_i
% dir = @dirs[dir_num]
% stems = @im.image_stem_list(dir)
% default_color_mode = 'c'
<html>
  <head>
    <title>BookBox</title>
    <script src="/bookbox.js" type="text/javascript"></script>
    <script>
      var stems = [
        % stems.each {|stem|
          "<%= stem %>",
        % }
      ];
    </script>
  </head>
  <body>
    <a href="/">top</a>
    <a href="javascript:thumbnail_all_color(stems, 'c')">color all</a>
    <a href="javascript:thumbnail_all_color(stems, 'g')">gray all</a>
    <a href="javascript:thumbnail_all_color(stems, 'm')">mono all</a>
    <a href="javascript:flip_lr()">L2R&lt;-&gt;R2L</a>
    <%= stems.length %> images
    % action = "/#{u(dir_num.to_s)}/submit"
    <form action="<%= h(action) %>" method="post">
      <input type="submit" value="save">
      % params.keys.sort.each {|name|
      %   val = params[name]
      <input id="<%= h(name) %>" type="hidden" name="<%= h(name) %>" value="<%= h(val) %>">
      % }
    </form>
    <table id="pages">
      % num_cells = 10
      % stems.each_slice(num_cells) {|ss|
      <tr>
        % ss.concat Array.new(num_cells - ss.length)
        % ss.reverse! if params.fetch("ViewerPreferencesDirection", "L2R") == "R2L"
        % ss.each {|stem|
        <td>
          % if stem
          %   name = "img#{stem}"
          %   out_fn = "out#{stem}.pnm"
          %   color_mode = params["pages:#{out_fn}:colormode"] || default_color_mode
          %   suffix = "#{stem}_#{color_mode == 'n' ? 'c' : color_mode}.png"
          %   thumbnail = "/i/#{u(dir_num.to_s)}/#{u("small#{suffix}")}"
          %   code = "change_thumbnail('#{stem}')"
          %   fullsize = "/i/#{u(dir_num.to_s)}/#{u("fullsize#{suffix}")}"
          %   fullsize_id = "fullsize#{stem}"
          %   if color_mode == 'n'
          %     code2 = "javascript:set_image_color_mode('#{stem}', 'c')"
          <a href="<%= h(code2) %>">show</a>
          <img name="<%= h(name) %>" src="<%= h(thumbnail) %>" onclick="<%= h(code) %>" style="display: none;">
          %   else
          <img name="<%= h(name) %>" src="<%= h(thumbnail) %>" onclick="<%= h(code) %>">
          %   end
          <a id="<%= h(fullsize_id) %>" href="<%= h(fullsize) %>">fullsize</a>
          % end
        </td>
        % }
      </tr>
      % }
    </table>
  </body>
</html>
