%#erb
<html>
  <head>
    <title>BookBox</title>
    <script src="/bookbox.js" type="text/javascript"></script>
  </head>
  <body>
    % dir_num = %r{\A/(\d+)(?:\z|/)}.match(req.path)[1].to_i
    % dir = @dirs[dir_num]
    % @im.image_stem_list(dir).each {|stem|
    %   name = "img#{stem[/\d+/]}"
    %   color_thumbnail = "/i/#{u(dir_num.to_s)}/#{u("small#{stem}_c.png")}"
    %   code = "change_thumbnail('#{name}')"
    <img name="<%= h(name) %>" src="<%= h(color_thumbnail) %>" onclick="<%= h(code) %>">
    % }
  </body>
</html>
